<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="GUI.Properties.Settings.QLNSuConnectionString" connectionString="Data Source=ADMIN\SQLEXPRESS;Initial Catalog=QLNSu;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="GUI.Properties.Settings.ninh_qlnsConnectionString"
            connectionString="Data Source=ADMIN\SQLEXPRESS;Initial Catalog=ninh_qlns;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>